@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body,
html {
    color: #010506;
    font-family: "Poppins", sans-serif;
    margin-top: 40px;
}

.container {
    margin: 0 50px;
}

/* popup start challenge */
.start-modal {
    background-color: transparent;
    border: none;
}

.start-modal-body {
    margin: 0 auto;
    padding: 0;
}

.start {
    margin: 0 auto;
    display: block;
    width: max-content;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 25px;
    font-size: 30px;
    background: linear-gradient(to right, #dd84b6, #e4aecd);
    background-size: 200%;
    transition: 0.5 ease-in-out;
    color: #000;
    text-decoration: none;
}

.start:hover {
    cursor: pointer;
    background-position: right;
    color: #000;
}

/* dancing gif */
.dancing {
    position: fixed;
    width: 600px;
    left: 140px;
    z-index: -1;
    opacity: 0.8;
}

/* header */
.col-sm-8 {
    padding: 0;
}

.countdown {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 1.3rem;
    text-align: right;
}

.countdown-box {
    width: 250px;
}

.countdown-number {
    font-size: 2rem;
    padding: 6px 10px;
    margin-left: 10px;
    background: rgba(221, 132, 182, 0.7);
    border-radius: 6px;
}

.uploadBtn {
    text-align: right;
}

.videoUpload {
    width: 485px;
    font-family: "Poppins", sans-serif;
    border: none;
    outline: none;
    border-radius: 6px;
    margin: 20px 0;
    padding: 10px 0;
    font-size: 1.3rem;
    background: linear-gradient(
        to right,
        rgba(221, 132, 182, 0.7),
        rgba(223, 159, 195, 0.7)
    );
    background-size: 200%;
    transition: 0.5 ease-in-out;
}

.videoUpload:hover {
    cursor: pointer;
    background-position: right;
}

.modal-body h5,
h6 {
    text-align: center;
    padding: 10px;
}

.modal-body input {
    padding: 5px;
    width: 100%;
    border-radius: 6px;
    margin: 0 auto;
}

.numberLikes {
    padding: 3px 5px;
}

/* CARD BOX USER */
.card-user {
    margin-top: 60px;
}

.card {
    width: 30px;
    background: #f0f0f0;
    box-shadow: 0px 8px 12px #9c9c9c9f;
    opacity: 0.9;
    text-align: center;
    border: none;
    padding: 20px;
    border-radius: 6px;
}

.fa-user {
    font-size: 4rem;
    color: #9c9c9c;
    text-align: center;
    margin-top: 10px;
}

.btn {
    margin-top: 20px;
    background: #9c9c9c;
    border: none;
    outline: none;
}

.btnUser a {
    display: block;
    margin: 10px auto;
    width: 180px;
}

.btn:focus {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
    background: #5e74cf;
}

.btn:hover {
    background: #5e74cf;
}

.card-title {
    margin: 20px;
}

.mapLinkBtn {
    display: block;
    margin: 40px 0 40px 25px;
    width: 15rem;
    padding: 14px;
    font-family: "Poppins", sans-serif;
    border: none;
    outline: none;
    border-radius: 6px;
    font-size: 1.3rem;
    color: #000;
    text-decoration: none;
    text-align: center;
    background: linear-gradient(
        to right,
        rgba(221, 132, 182, 0.7),
        rgba(223, 159, 195, 0.7)
    );
    background-size: 200%;
    transition: 0.5 ease-in-out;
}

.mapLinkBtn:hover {
    cursor: pointer;
    background-position: right;
    color: #000;
}

/* LIST */
.image-user {
    width: 40px !important;
    height: 40px !important;
}

.inside {
    border-radius: 6px;
    padding: 30px;
    margin: 20px 0;
    background: #f0f0f0;
    box-shadow: 0px 8px 12px #9c9c9c9f;
    opacity: 0.9;
    text-align: center;
    border: none;
}

.list {
    border: 1px #000 solid;
    margin: 0 0 20px 0;
    background: #f0f0f0;
    box-shadow: 0px 8px 12px #9c9c9c9f;
    opacity: 0.9;
    text-align: center;
    border: none;
    padding: 20px;
    border-radius: 6px;
}

.list h3 {
    padding: 10px;
}

.image-user {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin: 5px auto;
}

.videos {
    width: 250px;
    height: 300px;
    border-radius: 20px;
}

.video-title {
    width: 200px;
}

.rating-btn {
    border: none;
}

.rating {
    width: 30px;
}

/* footer */
.footer {
    width: 100%;
    background: rgba(221, 132, 182, 0.7);
}
