#map {
    height: 70vh;
    border-radius: 20px;
    opacity: 90%;
}

.boxPick {
    margin-bottom: 80px;
}

.btns {
    font-family: "Poppins", sans-serif;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 10px;
    margin-top: 25px;
    width: 300px;
    font-size: 14px;
    background: linear-gradient(to right, #dd84b6, #e4aecd);
    background-size: 200%;
    transition: 0.5 ease-in-out;
    color: #000;
    text-decoration: none;
    text-align: center;
}

.btns:hover {
    cursor: pointer;
    color: #000;
    background-position: right;
}
